.container{
  margin-top: 2rem;
  width: 30rem;
  height: fit-content;
  background-color: darkgray;
  border: 2px solid black;
  border-radius: 1rem;

}


.error{
  color: red;
}

.all{
  display: flex;
  justify-content:left;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('../Images/CreationImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-color: black;
}

.submit{
  margin: 0.5rem;
}
.link{
  margin-top: 1rem;
}

