.detailInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content{
    
    background-image: url('../Images/Detailmage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}
#out{
    color: none;
}